@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons')

@import '~react-md/src/scss/react-md'
@import 'theme.sass'
@include react-md-everything

body
  margin: 0
.maincontent
  margin-top: 68px
.eventslist
  margin: 0 12px 36px 12px
.eventslist--title::first-letter
  text-transform: capitalize
.eventitem--header
  display: flex
  flex-direction: row
  margin-bottom: 0
.eventslist--emptymessage
  white-space: pre-line
.eventitem--time
  margin-right: auto
  align-self: center
  margin-bottom: 0
.eventitem--time::first-letter
  text-transform: capitalize
.eventitem--content
  margin-top: 0
.eventitem--info
  white-space: pre-line
  text-align: justify
.eventitem--favtrue
  color: $md-secondary-color
.eventitem--favfalse
  color: $md-grey-500
.installbtn--wrapperShow
  margin: 4px 12px 4px 0
  display: flex
  flex-direction: row
.installbtn--wrapperHide
  margin: 4px 12px 4px 0
  display: none
  flex-direction: row
.installbtn--text
  margin: auto
  font-size: 1.15rem
  font-weight: bold
