@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons')

@import '~react-md/src/scss/react-md'
@import 'theme.sass'
@include react-md-everything

body
  margin: 0
.maincontent
  margin-top: 68px
.eventslist
  margin: 0 12px 36px 12px
.eventslist--title::first-letter
  text-transform: capitalize
.eventitem--header
  display: flex
  flex-direction: row
  margin-bottom: 0
.eventslist--emptymessage
  white-space: pre-line
.eventslist--emptyicon
  text-align: center
.eventitem--time
  margin-right: auto
  align-self: center
  margin-bottom: 0
.eventitem--time::first-letter
  text-transform: capitalize
.eventitem--content
  margin-top: 0
.eventitem--info
  white-space: pre-line
  text-align: justify
.eventitem--favtrue
  color: $md-secondary-color
.eventitem--favfalse
  color: $md-grey-500
.installbtn--wrapperShow
  display: flex
  flex-direction: row
.installbtn--wrapperHide
  display: none
  flex-direction: row
.installbtn--text
  margin: auto
  font-size: 1.15rem
  font-weight: bold
.infopage--coverimage
  width: 100%
.infopage--devinfo
  display: flex
  flex-direction: row
.infopage--logo
  max-width: 120px
  max-height: 120px
.infopage--myinfo
  margin: auto
.infopage--links
  text-decoration: none
  color: #007FFF
.infopage--xxss
  margin: 4px
.infopage--text
  text-align: justify
.infopage--legal
  font-size: 0.9rem
  text-align: justify
  white-space: pre-line
  margin-top: 24px
.search-header
  margin: 0 12px
.ais-InstantSearch__root
  margin: 8px 12px 24px
.ais-SearchBox
  margin-bottom: 12px
.ais-Hits
  margin-bottom: 8px
.ais-Hits-item
  width: 100% !important
  padding: 0 !important
  border: none !important
.search-divider
  margin-bottom: 24px
.md-btn--toolbar
  display: flex
